body{
    margin: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}
.container{
    border:1px solid gray;
    text-align: center;
    padding: 2%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.values {
    display: flex;
    justify-content: space-between;
}